<html>
  <head>
    <title>Books List</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <a href="/books/create">Add book</a>
    <h1>Books List</h1>
    <table>
      <tr><th>Title</th><th>Author</th></tr>
      {{#each books}}
        <tr><td>{{this.title}}</td><td>{{this.author}}</td></tr>
      {{/each}}
    </table>
  </body>
</html>