<html>
  <head>
    <title>Add book</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Add book</h1>
    <form action="postBook" method="POST">
      <label>Title</label>
      <input name="title" /><br /><br />
      <label>Author</label>
      <input name="author" /><br /><br />
      <input type="submit" value="Отправить" />
    </form>
    <a href="/books">To Books list</a>
  </body>
</html>